$textColor: #070707;
$bold: 700;
$bgGray: #F6F6F6;
$cardColor: #EDF2F7;
$portfolioBtnColor: #d9d9d9;
$FocusColor: #535151;
$contactBtnColor: #070707;
$contactBtnColorHoverActive: #292828;
$footerTextColor: #828282;




html, body{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: $textColor;
  font-size: 18px;
  line-height: 22px;
}
a {
  text-decoration: none;
  color: $textColor;
}
a:visited {
  color: $textColor;
}
p {
  font-size: 1rem;
  line-height: 1rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2rem;
}

.hide {
  display: none;
}

.wrapper-gray{
  background: $bgGray;
  background-size: 100%;
  text-align: center;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
.header:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #d9d9d9;
  z-index: 3;
}
.header_body {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_burger{
  display: none;
}
.header_menu {
  width: 100%;
}
.menu{
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  .menu_list{
    list-style-type: none;
    width: 110px;
    text-align: center;
  }
  .menu_link{
    text-decoration: none;
    font-size: 1rem;
    line-height: 1rem;
  }
  .menu_list:first-child{
    text-align: left;
    width: 72px;
  }
  .menu_list:last-child{
    text-align: right;
  }
  .menu_link-active {
    font-weight: $bold;
    color: $textColor;
  }
}
.menu_link:hover, #en:hover, #ru:hover {
  font-weight: $bold;
}

.section-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding-top: 90px;
  .section-top_about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0;
    h1 {
      font-size: 2.7rem;
      line-height: 2.7rem;
      max-width: 255px;
      margin: 0;
    }
    p {
      max-width: 350px;
    }
  }
  .lang {
    transform: rotate(-90deg);
    padding-top: 40px;
    font-size: 0.9rem;
    line-height: 0.9rem;
    input {
      display: none;
    }
    .ru_btn, .en_btn {
      cursor: pointer;
    }
    input:checked + label {
      font-weight: $bold;
    }
  }
  .section-top_img{
    width: 100%;
    padding:  0 0 45% 0;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center -300px;
    }
  }
}

.about-me {
    padding: 120px 0 100px 0;
  h2 {
    margin: 0 0 20px 0;
  }
  p {
    max-width: 515px;
    margin: 15px auto;
    padding: 0 30px;
  }
}

.skills {
    text-align: center;
    padding: 100px 0;
  .slider {
    position: relative;
    margin-top: 80px;
  }
  .slider_scroller {
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory;
  }
  .slider_scroller::-webkit-scrollbar {
    width: 0;
  }
  .item {
    min-width: 100%;
    min-height: 200px;
    scroll-snap-align: start;
    display: flex;
    justify-content: space-evenly;
  }
  .slide_3 {
    display: none;
  }
  .card {
    background-color: $cardColor;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    width: 270px;
    .card_img{
      margin: 20px auto;
      max-width: 200px;
      height: 190px;
      display:grid;
      grid-template-columns: 95px 95px;
      grid-template-rows: 75px 75px;
      grid-row: auto / auto;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      justify-items: center;
      align-items: center;
        img {
          width: 100%;
          height: 100%;
          padding: 10px;
          object-fit: contain;
        }
      .img_col_1_3{
        grid-column: 1 / 3;
        justify-self: center;
      }
      .img_row_1_3{
        grid-row: 1/3;
        justify-self: center;
      }
    }
    p {
      font-style: italic;
      font-size: 0.8rem;
      line-height: 0.8rem;
      padding: 0 10px;
    }
    span {
      display: block;
      margin-top: 20px;
      height: 50px;
    }
    .ps {
      font-size: 0.5rem;
      color: #535151;
    }
  }
  .btn {
    cursor: pointer;
    position: absolute;
    top: 40%;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    i {
      font-size: 1.8rem;
    }
  }
  .btn:hover{
    background: rgba(0, 0, 0, 0.1);
  }
  .previous {
    left: 0;
  }
  .next {
    right: 0;
  }
}

.portfolio {
    padding-top: 100px;
    padding-bottom: 50px;
    .portfolio_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 0;
      .portfolio_p {
        max-width: 600px;
      }
      .portfolio_img{
        width: 90%;
        margin: 20px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  .portfolio_links {
    margin-top: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 400px;
  }
  .portfolio_btn {
    padding: 10px 30px;
    border-radius: 15px;
    background: $portfolioBtnColor;
    outline: none;
    border: 3px solid #ffffff;
    cursor: pointer;
    transition: 0.3s;
  }
  .portfolio_btn:hover {
    background: $bgGray;
  }
  .portfolio_btn:active{
    box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
  }
  .portfolio_btn:focus{
    border: 3px solid $FocusColor;
  }
}

.contacts{
    text-align: center;
    padding: 110px 0;
  p {
    margin: 25px 0;
  }
  .contacts_btn {
    padding: 10px 30px;
    border-radius: 15px;
    background: $contactBtnColor;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  .contacts_btn:hover {
    background: $contactBtnColorHoverActive;
  }
  .contacts_btn:active{
    box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
  }
  .contacts_btn:focus{
    box-shadow: 0 0 0 3px $FocusColor;
  }
  .social {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
  }
  .social_link{
    font-size: 48px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
  }
  .social_link:hover{
    background: rgba(0, 0, 0, 0.1);
  }
  .social_link:last-child{
    margin-right: 0;
  }
  .footer {
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: $footerTextColor;
  }
}


@media (max-width: 767.98px) {
  .wrapper {
    padding: 0 calc(50% - 270px);
  }
  .container {
    padding: 0 calc(50% - 270px);
  }
  html, body {
    font-size: 14px;
    line-height: 18px;
  }
  .lang {
    display: none;

  }
  .visible {
    display: block;
    z-index: 3;
    font-size: 1.9rem;
    line-height: 1.9rem;
    color: $footerTextColor;
    transform: rotate(90deg);
    width: fit-content;
    position: absolute;
    bottom: 25%;
    right: 15%;
    input {
      display: none;
    }
    .ru_btn, .en_btn {
      cursor: pointer;
    }
    input:checked + label {
      font-weight: $bold;
      color: $textColor;
    }
  }

  .section-top {
    padding-top: 50px;
    margin-bottom: 50px;
    .section-top_about {
      flex-direction: column;
      margin: 20px 0;
      p {
        max-width: 350px;
        text-align: center;
        padding: 0 30px;
      }

      h1 {
        max-width: 200px;
        text-align: center;
      }
    }
    .section-top_img {
      width: 80%;
      padding: 0 0 100% 0;
      align-self: center;
      img {
        width: 80%;
        top: -60px;
        left: 10%;
        object-fit: none;
      }
    }
  }
  .portfolio {
    .portfolio_links {
      flex-direction: column;
      margin-top: 35px;
    }
    .portfolio_link-git {
      margin-top: 15px;
    }
  }

  //burger
  .header_body{
    height: 50px;
  }
  .header_burger{
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    margin: 0 30px;
  }
  .header_burger span{
    position: absolute;
    background-color: $textColor;
    left: 0;
    height: 3px;
    top: 9px;
    width: 100%;
    transition: all 0.3s ease 0s;
  }
  .header_burger::before,
  .header_burger::after{
    content: "";
    background-color: $textColor;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header_burger::before{
    top: 0;
  }
  .header_burger::after{
    bottom: 0;
  }
  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    overflow: auto;
    transition: all 0.3s ease 0s;
  }
  .header_menu.active{
    top: 0;
    padding: 70px 30px;
  }
  .menu {
    flex-direction: column;
    .menu_list, .menu_list:last-child {
      text-align: left;
      margin-bottom: 68px;
      width: 50%;
    }
    .menu_link {
      font-size: 1.9rem;
      line-height: 1.9rem;
      color: $footerTextColor;
    }
    .menu_link-active {
      color: $textColor;
    }
    .menu_link:hover{
      color: $textColor;
    }
  }
  .header_burger.active span{
    transform: scale(0);
  }
  .header_burger.active::before{
    transform: rotate(45deg);
    top: 8px;
  }
  .header_burger.active::after{
    transform: rotate(-45deg);
    bottom: 9px;
  }
  body.lock {
    overflow: hidden
  }
}

@media (min-width: 767.99px) and (max-width: 991.98px){
  .wrapper {
    padding: 0 calc(50% - 360px);
  }
  .container {
    padding: 0 calc(50% - 360px);
  }
  .card {
    max-width: 250px;
  }
  .section-top .section-top_img img {
    object-position: center -250px;
  }
  .skills .slide_3 {
    display: block;
  }
}

@media (min-width: 991.99px) and (max-width: 1199.97px){
  .wrapper {
    padding: 0 calc(50% - 480px);
  }
  .container {
    padding: 0 calc(50% - 480px);
  }
}

@media (min-width: 1199.98px){
  .wrapper {
    padding: 0 calc(50% - 590px);
  }
  .container {
    padding: 0 calc(50% - 590px);
  }
}

/*


.header__body{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}



.burger__list{
  display: flex;
  position: relative;
  z-index: 2;
}

@media (max-width:768px){
.content{
  padding-top: 70px;
}
}

@media (max-width:768px){




/стили для бургера>==================================================================================================================================
body.lock {
	overflow: hidden
}

.burger__link{
	font-size: 24px;
}

.burger__menu{
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ca568a;
	padding: 70px 0px 0px 0px;
	transition: all 0.3s ease 0s;
	overflow: auto;
}

.burger__list{
	display: block;
}
.burger__list li{
	padding: 0px 0px 20px 0px;
}
._burger.active span{
	transform: scale(0);
}

/стили для бургера>=================================================================================================================================

}*/